body {
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: gray;
    text-align: center;
}

div {
    align-items: center;
}

div ul {
    align-items: center;
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    font-size: 28px;
}

a{
    background-color: antiquewhite;
}

div img {
    align-items: center;
    height: 600px;
    width: auto;
    display: block;
}

img {
    align-items: center;
    height: auto;
    width: 50%;
    display: block;
}

.flex-container{
    display: flex;
    background-color: rgb(190, 118, 118);
}

.flex-container div {
    border: 4px solid gray;
    height: auto;
    flex: 1, 1, 0%;
    /* margin: 50px, auto; */
}

.flex-container .flex-two {
    flex: 2, 1, auto;
    width: auto;
    height: 600px;
}

.flex-container .flex-one{
   width: auto;
}
/* .flex-container .flex-three{
    margin-left: auto;
} */

.title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}